*,
*::after,
*::before {
  margin: 0;
  padding:0;
  box-sizing: inherit;
}

html {
  // default 16px * 0.625 -> 10px
  // this defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
